<h2>Login</h2>
<br>

<form action="<%= login_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="username">Username: </label>
  <input type="text" name="user[username]" id="username"><br>

  <label for="password">Password: </label>
  <input type="password" name="user[password]" id="password"><br>

  <input type="submit" value="Login">
</form>

<p><%= link_to "All Users", users_url %></p>