<form action="<%= notes_url %>" method="post">
  <input type="hidden"
         name="note[track_id]"
         value="<%= @track.id %>">

  <input type="hidden"
         name="note[user_id]"
         value="<%= current_user.id %>">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="note_text">Note: </label>
  <input type="text" name="note[text]" id="note_text"><br>

  <input type="submit" value="Create">
</form>