<form action="<%= tracks_url %>" method="post">
  <input type="hidden"
         name="track[album_id]"
         value="<%= @album.id %>">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="track_name">Track Name: </label>
  <input type="text" name="track[track_name]" id="track_name"><br>

  <input type="submit" value="Create">
</form>