<h2><%= @band.band_name %> >
    <%= @album.album_name %> >
    <%= @track.track_name %></h2>

<%= button_to "Delete #{@track.track_name}",
    track_url(@track),
    method: "delete" %>

<br>
Notes (<%= @notes.count %>):<br><br>
<%= render @notes %>

<br><hr><br>

<% if current_user %>
  <strong>Add New Note</strong><br><br>
  <%= render 'notes/form' %>
  <br><hr><br>
<% end %>

<%= link_to "Album Tracks", album_url(@track.album_id) %>