<h2>Create New User</h2>
<br>

<form action="<%= users_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="username">Username: </label>
  <input type="text" name="user[username]" id="username"><br>

  <label for="email">Email: </label>
  <input type="text" name="user[email]" id="email"><br>

  <label for="password">Password: </label>
  <input type="password" name="user[password]" id="password"><br>

  <input type="submit" value="Create">
</form>

<p><%= link_to "All Users", users_url %></p>