<h2>User's Profile</h2>
<br>
Username: <%= @user.username %><br>
Email:    <%= @user.email %><br><br>

Your notes:<br>
<% @notes.each do |note| %>
  <%= link_to Track.find(note.track_id).track_name, track_url(note.track_id) %>: "<%= note.text %>" <br>
<% end %>
<br>