<form action="<%= albums_url %>" method="post">
  <input type="hidden"
         name="album[band_id]"
         value="<%= @band.id %>">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="album_name">Album Name: </label>
  <input type="text" name="album[album_name]" id="album_name"><br>

  <input type="submit" value="Create">
</form>