<h2><%= @band.band_name %> > <%= @album.album_name %></h2>

<%= button_to "Delete #{@album.album_name}",
    album_url(@album),
    method: "delete" %>

<br>
Tracks (<%= @tracks.count %>):<br>
<%= render @tracks %>

<br><hr><br>

<strong>Add New Track</strong><br><br>
<%= render 'tracks/form' %>

<br><hr><br>

<%= link_to "Band's Albums", band_url(@album.band_id) %>