<form action="<%= bands_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="band_name">Band's Name: </label>
  <input type="text" name="band[band_name]" id="band_name"><br>

  <input type="submit" value="Create">
</form>