<h2><%= @band.band_name %></h2>

<%= button_to "Delete #{@band.band_name}",
    band_url(@band),
    method: "delete" %>
<br><hr><br>
Albums (<%= @albums.count %>):<br>

<%= render @albums %>

<br><hr><br>

<strong>Add New Album</strong><br><br>
<%= render 'albums/form' %>

<br><hr><br>

<%= link_to "All Bands", bands_url %>