<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:notice].nil? %>
  <%= flash[:notice] %>
  <br><hr><br>
<% end %>
<br>

<table>
  <tr>
  <td>
    <%= link_to "Home", root_url %>
  </td>
  </tr>
  <tr>
<% if current_user.nil? %>
  <td>
    <%= link_to "Login Here", login_page_url %>
  </td>
  </tr>
  <tr>
  <td>
    <%= link_to "Register", new_user_url %>
  </td>
<% else %>
  <td>
    Logged in as <%= link_to current_user.username, user_url(current_user)%>
  </td>
  <td>
    <%= button_to "Logout", logout_url, method: "delete" %>
  </td>
<% end %>
  </tr>
</table>

<br><br><hr><br>

<%= yield %>

</body>
</html>
